{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "html_head.html" %}
  
    <!-- plugins:css -->
   
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
       {% include "doctor_sidebar.html" %}
        <div class="main-panel">
          <div class="content-wrapper">
          
           
            <div class="row">
              <div class="col-sm-8">
                 <div class="card">
                  <div class="card-body">
                <h3 class="page-title mb-3 ml-4">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-lightbulb"></i>
                </span> Ideas </h3>

                <!--Start Loop-->
                {% for name in data %}
                
                <div class="col-md-12 stretch-card grid-margin">
                <div class="card bg-gradient-primary card-img-holder text-white">
                  <div class="card-body">
                    <img src="{% static '/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">{{name.domain}} </i>
                    </h4>
                    <h2 class="mb-4">{{name.title}}</h2>
                    <p>{{name.about}}</p>
                      <h6 class="card-text"><i class="mdi mdi-heart mdi-20px"></i> 100
                     <i class="mdi mdi-eye mdi-20px ml-3"></i> 100</h6>
                  </div>
                </div>
              </div>
              

              {% endfor %}
              <!--end-->

              
            </div><!-- end card body-->
          </div><!-- end card-->
            </div><!--col sidebar end-->
            <div class="col-sm-4 grid-margin stretch-card">
                   <div class="card">
                    <div class="card-body">
                       <h3 class="page-title mb-3 ml-4">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                          <i class="mdi mdi-newspaper"></i>
                        </span> News </h3>
                     
                      <ul class="list-arrow">
                       {% for name in news %}
                        <li><a href= {{ name.links }} style="text-decoration : none;" class="text-dark">{{ name.title }}</a></li>
                         <hr>
                       {% endfor %}
                       
                      </ul>
                    </div>
                  </div>
              </div><!--end news-->
            </div><!--row end-->
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="#" target="_blank">Startup Finder</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static '/assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static '/assets/vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static '/assets/js/off-canvas.js' %}"></script>
    <script src="{% static '/assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static '/assets/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static '/assets/js/dashboard.js' %}"></script>
    <script src="{% static '/assets/js/todolist.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>